<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org/">
<head>
    <title>Title</title>
</head>
<body>
<center><span th:text="${info}"></span></center>

<span th:text="${carForm.productionYear}"></span>


<form th:action="@{/car}" method="post" th:object="${carForm}">
    Rok produkcji: <input type="text" th:field="*{productionYear}" th:name="productionYear"/><p></p>
    Model: <input type="text" th:field="*{model}" th:name="model"/><p></p>
    Marka: <input type="text" th:field="*{mark}" th:name="mark"/><p></p>
    <input type="submit" value="Wyslij"/>
</form>
</body>
</html>